USE [QLVT_DATHANG]
GO
/****** Object:  StoredProcedure [dbo].[SP_DANGNHAP]    Script Date: 14/12/2021 9:26:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANGNHAP]
@TENLOGIN NVARCHAR (50)
AS
DECLARE @MANV NVARCHAR(50)
SELECT @MANV = NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TENLOGIN)
SELECT MANV = @MANV, HOTEN = (SELECT HO + ' ' + TEN FROM NHANVIEN  WHERE MANV = @MANV), TENNHOM = NAME
FROM sys.sysusers 
WHERE UID = (SELECT GROUPUID 
FROM SYS.SYSMEMBERS 
WHERE MEMBERUID= (SELECT UID FROM sys.sysusers WHERE NAME=@MANV))
GO
