USE [QLVT_DATHANG]
GO
/****** Object:  StoredProcedure [dbo].[SP_HOATDONGCUANHANVIEN]    Script Date: 14/12/2021 9:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_HOATDONGCUANHANVIEN]
@MANV INT, @FROM DATE, @TO DATE, @LOAI CHAR
AS
BEGIN
	IF (@LOAI = 'N')
		BEGIN
			SELECT FORMAT(PN.NGAY,'MMMM yyyy') AS THANGNAM, -- Group theo mẫu
				   PN.NGAY, PN.MAPN AS MAPHIEU, N'Không có' AS HOTENKH, TENVT, TENKHO, CTPN.SOLUONG, CTPN.DONGIA, THANHTIEN = SOLUONG * DONGIA
			FROM (SELECT MAPN, NGAY, TENKHO = (SELECT TENKHO FROM KHO WHERE KHO.MAKHO = PNP.MAKHO) FROM dbo.PhieuNhap as PNP WHERE MANV = @MANV AND NGAY BETWEEN @FROM AND @TO) PN,
				 CTPN,
				 (SELECT TENVT, MAVT FROM Vattu) VT
			WHERE VT.MAVT = CTPN.MAVT AND CTPN.MAPN = PN.MAPN
		END
	ELSE
		BEGIN
			SELECT FORMAT(PX.NGAY,'MMMM yyyy') AS THANGNAM, -- Group theo mẫu
					PX.NGAY, PX.MAPX AS MAPHIEU, PX.HOTENKH, TENVT, TENKHO, CTPX.SOLUONG, CTPX.DONGIA, THANHTIEN = SOLUONG * DONGIA
			FROM (SELECT MAPX, NGAY, HOTENKH, TENKHO = (SELECT TENKHO FROM KHO WHERE KHO.MAKHO = PXT.MAKHO) FROM dbo.PhieuXuat as PXT WHERE MANV = @MANV AND NGAY BETWEEN @FROM AND @TO) PX,
				 CTPX,
				 (SELECT TENVT, MAVT FROM Vattu) VT
			WHERE VT.MAVT = CTPX.MAVT AND CTPX.MAPX = PX.MAPX
		END
END
GO
