USE [QLVT_DATHANG]
GO
/****** Object:  StoredProcedure [dbo].[SP_INDANHSACHDDH_CHUAPN]    Script Date: 14/12/2021 9:29:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INDANHSACHDDH_CHUAPN]
AS
 SELECT DH.MasoDDH, DH.NGAY,DH.NhaCC,
	HOTENNV = (SELECT HO + ' ' + TEN FROM LINK0.QLVT_DATHANG.dbo.NhanVien WHERE MANV = DH.MANV), 
	TENVT = (SELECT VT.TENVT FROM LINK0.QLVT_DATHANG.dbo.Vattu AS VT WHERE VT.MAVT = CTDDH.MAVT), 
	CTDDH.SOLUONG, CTDDH.DONGIA
	FROM dbo.CTDDH
		INNER JOIN
		(SELECT MasoDDH, NGAY, NhaCC, MANV FROM LINK0.QLVT_DATHANG.dbo.DatHang WHERE MasoDDH NOT IN( SELECT MasoDDH FROM dbo.PhieuNhap)) AS DH
	ON DH.MasoDDH = CTDDH.MasoDDH
GO
