USE [QLVT_DATHANG]
GO
/****** Object:  StoredProcedure [dbo].[SP_INDANHSACHNHANVIEN]    Script Date: 14/12/2021 9:29:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INDANHSACHNHANVIEN]
AS
	SELECT MANV, HO + ' ' + TEN AS HOTEN, DIACHI, NGAYSINH, LUONG, MACN FROM dbo.NhanVien 
	ORDER BY TEN, HO ASC
GO
