USE [QLVT_DATHANG]
GO
/****** Object:  StoredProcedure [dbo].[SP_INDANHMUCVATTU]    Script Date: 14/12/2021 9:27:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INDANHMUCVATTU]
AS
  SELECT MAVT, TENVT, DVT, SOLUONGTON FROM QLVT_DATHANG.dbo.Vattu
ORDER BY TENVT
GO
