USE [QLVT_DATHANG]
GO
/****** Object:  Table [dbo].[CHINHANH]    Script Date: 14/12/2021 9:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHINHANH](
	[MACN] [nchar](10) NOT NULL,
	[CHINHANH] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[SODT] [nvarchar](15) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_02603303057E42C38D9C8EB615409DC1]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_CHINHANH] PRIMARY KEY CLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTDDH]    Script Date: 14/12/2021 9:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDDH](
	[MASODDH] [nchar](8) NOT NULL,
	[MAVT] [nchar](4) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_04FEA86FDBBA46E28DBCFF739F9C3973]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_CTDDH] PRIMARY KEY CLUSTERED 
(
	[MASODDH] ASC,
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTPN]    Script Date: 14/12/2021 9:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPN](
	[MAPN] [nchar](8) NOT NULL,
	[MAVT] [nchar](4) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [float] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_4552E9F244564A738E3559BB36483541]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_CTPN] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC,
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTPX]    Script Date: 14/12/2021 9:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPX](
	[MAPX] [nchar](8) NOT NULL,
	[MAVT] [nchar](4) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [float] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_E5F897D763A2495EB877EAE5BEC99E98]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_CTPX] PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC,
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DATHANG]    Script Date: 14/12/2021 9:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATHANG](
	[MASODDH] [nchar](8) NOT NULL,
	[NGAY] [date] NOT NULL CONSTRAINT [DF_DATHANG_NGAY]  DEFAULT (getdate()),
	[NHACC] [nvarchar](100) NOT NULL,
	[MANV] [int] NOT NULL,
	[MAKHO] [nchar](4) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_7839706DE2D54F5EB2D9A23ADCA5C06B]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_DATHANG] PRIMARY KEY CLUSTERED 
(
	[MASODDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHO]    Script Date: 14/12/2021 9:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHO](
	[MAKHO] [nchar](4) NOT NULL,
	[TENKHO] [nvarchar](30) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[MACN] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_25CB033F428A44B9810414B05D65F3FC]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_KHO] PRIMARY KEY CLUSTERED 
(
	[MAKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 14/12/2021 9:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] NOT NULL,
	[HO] [nvarchar](40) NULL,
	[TEN] [nvarchar](10) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[NGAYSINH] [datetime] NULL,
	[LUONG] [float] NULL,
	[TrangThaiXoa] [int] NULL,
	[MACN] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_B3B1B7CD1D134CDEA6004EABC6184EA8]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 14/12/2021 9:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPN] [nchar](8) NOT NULL,
	[NGAY] [date] NOT NULL CONSTRAINT [DF_PHIEUNHAP_NGAY]  DEFAULT (getdate()),
	[MASODDH] [nchar](8) NOT NULL,
	[MANV] [int] NOT NULL,
	[MAKHO] [nchar](4) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_F4A9EA36580042DBA2FC6F29346A0444]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUXUAT]    Script Date: 14/12/2021 9:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUXUAT](
	[MAPX] [nchar](8) NOT NULL,
	[NGAY] [date] NOT NULL CONSTRAINT [DF_PHIEUXUAT_NGAY]  DEFAULT (getdate()),
	[HOTENKH] [nvarchar](100) NOT NULL,
	[MANV] [int] NOT NULL,
	[MAKHO] [nchar](4) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_F02E7513A5EC41289C2FC7F56D8A1420]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_PHIEUXUAT] PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VATTU]    Script Date: 14/12/2021 9:23:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VATTU](
	[MAVT] [nchar](4) NOT NULL,
	[TENVT] [nvarchar](30) NOT NULL,
	[DVT] [nvarchar](15) NOT NULL,
	[SOLUONGTON] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_EA7681F8681E478D82491A540D9A6FE3]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_VATTU] PRIMARY KEY CLUSTERED 
(
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CHINHANH] ([MACN], [CHINHANH], [DIACHI], [SODT], [rowguid]) VALUES (N'CN1       ', N'Chi nhánh 1 TP HCM', N'35 Trần Hưng Đạo P1 Q1', N'999111888', N'94781097-5628-ec11-b182-c8d9d2953fba')
INSERT [dbo].[CHINHANH] ([MACN], [CHINHANH], [DIACHI], [SODT], [rowguid]) VALUES (N'CN2       ', N'Chi nhánh 2 TP Cần Thơ', N'27 Nguyễn Huệ', N'333222111', N'95781097-5628-ec11-b182-c8d9d2953fba')
INSERT [dbo].[CTDDH] ([MASODDH], [MAVT], [SOLUONG], [DONGIA], [rowguid]) VALUES (N'MDDH01  ', N'M01 ', 10, 400000, N'b2781097-5628-ec11-b182-c8d9d2953fba')
INSERT [dbo].[CTDDH] ([MASODDH], [MAVT], [SOLUONG], [DONGIA], [rowguid]) VALUES (N'MDDH012 ', N'M01 ', 2, 1000000, N'5e36ac30-5132-ec11-b183-c8d9d2953fba')
INSERT [dbo].[CTDDH] ([MASODDH], [MAVT], [SOLUONG], [DONGIA], [rowguid]) VALUES (N'MDDH012 ', N'MU01', 5, 10000000, N'839f4f3c-5132-ec11-b183-c8d9d2953fba')
INSERT [dbo].[CTPN] ([MAPN], [MAVT], [SOLUONG], [DONGIA], [rowguid]) VALUES (N'PN01    ', N'M01 ', 10, 400000, N'484cf4c5-195c-ec11-b18e-c8d9d2953fba')
INSERT [dbo].[CTPN] ([MAPN], [MAVT], [SOLUONG], [DONGIA], [rowguid]) VALUES (N'PN03    ', N'MX02', 1, 500, N'ba781097-5628-ec11-b182-c8d9d2953fba')
INSERT [dbo].[CTPN] ([MAPN], [MAVT], [SOLUONG], [DONGIA], [rowguid]) VALUES (N'PN03    ', N'MX07', 2, 2000, N'bb781097-5628-ec11-b182-c8d9d2953fba')
INSERT [dbo].[CTPX] ([MAPX], [MAVT], [SOLUONG], [DONGIA], [rowguid]) VALUES (N'PX01    ', N'MX02', 4, 5600000, N'b5781097-5628-ec11-b182-c8d9d2953fba')
INSERT [dbo].[CTPX] ([MAPX], [MAVT], [SOLUONG], [DONGIA], [rowguid]) VALUES (N'PX01    ', N'TV02', 3, 40000000, N'c032fa4c-4d2e-ec11-b183-c8d9d2953fba')
INSERT [dbo].[CTPX] ([MAPX], [MAVT], [SOLUONG], [DONGIA], [rowguid]) VALUES (N'PX03    ', N'M01 ', 5, 7000000, N'b6781097-5628-ec11-b182-c8d9d2953fba')
INSERT [dbo].[DATHANG] ([MASODDH], [NGAY], [NHACC], [MANV], [MAKHO], [rowguid]) VALUES (N'MDDH01  ', CAST(N'2000-02-01' AS Date), N'CTY Điện máy xanh', 1, N'K1N1', N'aa781097-5628-ec11-b182-c8d9d2953fba')
INSERT [dbo].[DATHANG] ([MASODDH], [NGAY], [NHACC], [MANV], [MAKHO], [rowguid]) VALUES (N'MDDH012 ', CAST(N'2021-10-18' AS Date), N'CTY Thế giới di động', 20, N'K1N1', N'ddaa3127-5132-ec11-b183-c8d9d2953fba')
INSERT [dbo].[DATHANG] ([MASODDH], [NGAY], [NHACC], [MANV], [MAKHO], [rowguid]) VALUES (N'MDDH02  ', CAST(N'2012-01-02' AS Date), N'CTY Panasonic', 1, N'K2N1', N'ab781097-5628-ec11-b182-c8d9d2953fba')
INSERT [dbo].[KHO] ([MAKHO], [TENKHO], [DIACHI], [MACN], [rowguid]) VALUES (N'K1N1', N'KHO A', N'28-30 Ngô Quyền P1 Q5', N'CN1       ', N'9c781097-5628-ec11-b182-c8d9d2953fba')
INSERT [dbo].[KHO] ([MAKHO], [TENKHO], [DIACHI], [MACN], [rowguid]) VALUES (N'K1N2', N'LONG PHU', N'127 Ngô Thì Nhậm', N'CN2       ', N'a1781097-5628-ec11-b182-c8d9d2953fba')
INSERT [dbo].[KHO] ([MAKHO], [TENKHO], [DIACHI], [MACN], [rowguid]) VALUES (N'K2N1', N'KHO B', N'78 Nguyen Trai, TPHCM', N'CN1       ', N'9d781097-5628-ec11-b182-c8d9d2953fba')
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [DIACHI], [NGAYSINH], [LUONG], [TrangThaiXoa], [MACN], [rowguid]) VALUES (1, N'Lương', N'Trang', N'Thủ Đức', CAST(N'2000-02-06 00:00:00.000' AS DateTime), 7000000, 0, N'CN1       ', N'a2781097-5628-ec11-b182-c8d9d2953fba')
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [DIACHI], [NGAYSINH], [LUONG], [TrangThaiXoa], [MACN], [rowguid]) VALUES (2, N'Nguyễn', N'Hà', N'Quận 9', CAST(N'1999-03-04 00:00:00.000' AS DateTime), 4000000, 1, N'CN2       ', N'a3781097-5628-ec11-b182-c8d9d2953fba')
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [DIACHI], [NGAYSINH], [LUONG], [TrangThaiXoa], [MACN], [rowguid]) VALUES (3, N'Trần', N'Thanh', N'Quận 10', CAST(N'1990-08-09 00:00:00.000' AS DateTime), 5000000, 0, N'CN1       ', N'a4781097-5628-ec11-b182-c8d9d2953fba')
INSERT [dbo].[PHIEUNHAP] ([MAPN], [NGAY], [MASODDH], [MANV], [MAKHO], [rowguid]) VALUES (N'PN01    ', CAST(N'2021-12-13' AS Date), N'MDDH01  ', 20, N'K1N1', N'474cf4c5-195c-ec11-b18e-c8d9d2953fba')
INSERT [dbo].[PHIEUNHAP] ([MAPN], [NGAY], [MASODDH], [MANV], [MAKHO], [rowguid]) VALUES (N'PN03    ', CAST(N'2016-03-03' AS Date), N'MDDH03  ', 3, N'K3N2', N'b1781097-5628-ec11-b182-c8d9d2953fba')
INSERT [dbo].[PHIEUNHAP] ([MAPN], [NGAY], [MASODDH], [MANV], [MAKHO], [rowguid]) VALUES (N'PN05    ', CAST(N'2021-07-05' AS Date), N'MDDH05  ', 21, N'K6N1', N'7b903813-ed49-ec11-b18c-144f8a210085')
INSERT [dbo].[PHIEUXUAT] ([MAPX], [NGAY], [HOTENKH], [MANV], [MAKHO], [rowguid]) VALUES (N'PX01    ', CAST(N'2021-07-07' AS Date), N'Nguyễn Thị Ánh Hồng', 3, N'K1N1', N'ad781097-5628-ec11-b182-c8d9d2953fba')
INSERT [dbo].[PHIEUXUAT] ([MAPX], [NGAY], [HOTENKH], [MANV], [MAKHO], [rowguid]) VALUES (N'PX02    ', CAST(N'2020-09-09' AS Date), N'Trần Thị Mỹ Hà', 3, N'K1N2', N'ae781097-5628-ec11-b182-c8d9d2953fba')
INSERT [dbo].[PHIEUXUAT] ([MAPX], [NGAY], [HOTENKH], [MANV], [MAKHO], [rowguid]) VALUES (N'PX03    ', CAST(N'2021-08-08' AS Date), N'Trần Bích Phương', 3, N'K3N1', N'af781097-5628-ec11-b182-c8d9d2953fba')
INSERT [dbo].[VATTU] ([MAVT], [TENVT], [DVT], [SOLUONGTON], [rowguid]) VALUES (N'DT01', N'Samsung Galaxy Note 10+ 5G', N'Cái', 150, N'27fab78b-c138-ec11-b184-c8d9d2953fba')
INSERT [dbo].[VATTU] ([MAVT], [TENVT], [DVT], [SOLUONGTON], [rowguid]) VALUES (N'M01 ', N'Máy giặt tự động cửa trước', N'Cái', 100, N'96781097-5628-ec11-b182-c8d9d2953fba')
INSERT [dbo].[VATTU] ([MAVT], [TENVT], [DVT], [SOLUONGTON], [rowguid]) VALUES (N'MU01', N'Máy uốn tóc', N'Cái', 10, N'99781097-5628-ec11-b182-c8d9d2953fba')
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_CHINHANH]    Script Date: 14/12/2021 9:23:27 PM ******/
ALTER TABLE [dbo].[CHINHANH] ADD  CONSTRAINT [UK_CHINHANH] UNIQUE NONCLUSTERED 
(
	[CHINHANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_TENKHO]    Script Date: 14/12/2021 9:23:27 PM ******/
ALTER TABLE [dbo].[KHO] ADD  CONSTRAINT [UK_TENKHO] UNIQUE NONCLUSTERED 
(
	[TENKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_TENVT]    Script Date: 14/12/2021 9:23:27 PM ******/
ALTER TABLE [dbo].[VATTU] ADD  CONSTRAINT [UK_TENVT] UNIQUE NONCLUSTERED 
(
	[TENVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CTDDH]  WITH CHECK ADD  CONSTRAINT [FK_DATHANG_CTDDH] FOREIGN KEY([MASODDH])
REFERENCES [dbo].[DATHANG] ([MASODDH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [FK_DATHANG_CTDDH]
GO
ALTER TABLE [dbo].[CTDDH]  WITH CHECK ADD  CONSTRAINT [FK_VATTU_CTDDH] FOREIGN KEY([MAVT])
REFERENCES [dbo].[VATTU] ([MAVT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [FK_VATTU_CTDDH]
GO
ALTER TABLE [dbo].[CTPN]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_CTPN] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PHIEUNHAP] ([MAPN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [FK_PHIEUNHAP_CTPN]
GO
ALTER TABLE [dbo].[CTPN]  WITH CHECK ADD  CONSTRAINT [FK_VATTU_CTPN] FOREIGN KEY([MAVT])
REFERENCES [dbo].[VATTU] ([MAVT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [FK_VATTU_CTPN]
GO
ALTER TABLE [dbo].[CTPX]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUXUAT_CTPX] FOREIGN KEY([MAPX])
REFERENCES [dbo].[PHIEUXUAT] ([MAPX])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [FK_PHIEUXUAT_CTPX]
GO
ALTER TABLE [dbo].[CTPX]  WITH CHECK ADD  CONSTRAINT [FK_VATTU_CTPX] FOREIGN KEY([MAVT])
REFERENCES [dbo].[VATTU] ([MAVT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [FK_VATTU_CTPX]
GO
ALTER TABLE [dbo].[DATHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHO_DATHANG] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHO] ([MAKHO])
GO
ALTER TABLE [dbo].[DATHANG] CHECK CONSTRAINT [FK_KHO_DATHANG]
GO
ALTER TABLE [dbo].[DATHANG]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_DATHANG] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DATHANG] CHECK CONSTRAINT [FK_NHANVIEN_DATHANG]
GO
ALTER TABLE [dbo].[KHO]  WITH CHECK ADD  CONSTRAINT [FK_CHINHANH_KHO] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHINHANH] ([MACN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[KHO] CHECK CONSTRAINT [FK_CHINHANH_KHO]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_CHINHANH_NHANVIEN] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHINHANH] ([MACN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_CHINHANH_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_DATHANG_PHIEUNHAP] FOREIGN KEY([MASODDH])
REFERENCES [dbo].[DATHANG] ([MASODDH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_DATHANG_PHIEUNHAP]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_KHO_PHIEUNHAP] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHO] ([MAKHO])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_KHO_PHIEUNHAP]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_PHIEUNHAP] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_NHANVIEN_PHIEUNHAP]
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_KHO_PHIEUXUAT] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHO] ([MAKHO])
GO
ALTER TABLE [dbo].[PHIEUXUAT] CHECK CONSTRAINT [FK_KHO_PHIEUXUAT]
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_PHIEUXUAT] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUXUAT] CHECK CONSTRAINT [FK_NHANVIEN_PHIEUXUAT]
GO
ALTER TABLE [dbo].[CTDDH]  WITH CHECK ADD  CONSTRAINT [CK_CTDDH_DONGIA] CHECK  (([DONGIA]>(0)))
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [CK_CTDDH_DONGIA]
GO
ALTER TABLE [dbo].[CTDDH]  WITH CHECK ADD  CONSTRAINT [CK_CTDDH_SOLUONG] CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [CK_CTDDH_SOLUONG]
GO
ALTER TABLE [dbo].[CTPN]  WITH CHECK ADD  CONSTRAINT [CK_CTPN_DONGIA] CHECK  (([DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [CK_CTPN_DONGIA]
GO
ALTER TABLE [dbo].[CTPN]  WITH CHECK ADD  CONSTRAINT [CK_CTPN_SOLUONG] CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [CK_CTPN_SOLUONG]
GO
ALTER TABLE [dbo].[CTPX]  WITH CHECK ADD  CONSTRAINT [CK_CTPX_DONGIA] CHECK  (([DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [CK_CTPX_DONGIA]
GO
ALTER TABLE [dbo].[CTPX]  WITH CHECK ADD  CONSTRAINT [CK_CTPX_SOLUONG] CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [CK_CTPX_SOLUONG]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_LUONG] CHECK  (([LUONG]>=(4000000)))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_LUONG]
GO
